<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebApp-ML</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <main class="conteiner p-4">

        <a href="svm"><button type="button" class="btn btn-success">Ir Algoritmo SVM</button></a>
        <a href="chisvm"><button type="button" class="btn btn-success">Ir Algoritmo CHI-SVM</button></a>
        <a href="rna"><button type="button" class="btn btn-success">Ir Algoritmo RNA</button></a>



    
    
        
    </main>
</body>
</html>